
<mat-card class="example-card">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{data.todo.id}}
            </mat-panel-title>
            <mat-panel-description>
              {{data.todo.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Please complete all of your tasks ASAP</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p *ngIf="todoitems.length > 0">Todo Items</p>
              <p *ngIf="todoitems.length == 0">No Tasks have been added</p>
            </mat-panel-title>
          </mat-expansion-panel-header>

            
          <div *ngFor="let item of todoitems">
            <ul>
              <li>
                #{{item.id}}: {{item.task}}
                <ul>
                  <li>Completed: {{item.completed ? 'Yes': 'No'}}</li>
                  <mat-checkbox [ngModel]="item.completed" (change)="updateTodoItemStatus(item)">Completed:</mat-checkbox>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p *ngIf="todoitems.length > 0">Add Todo Items</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input type="email" matInput placeholder="Title">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card>
