<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Todos App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Person icon" [routerLink]="['/Create']">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Login icon" [routerLink]="['/Home']">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>