<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu icon" (click)="side.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Todos App</span>
  <span class="example-spacer"></span>
  
  <button mat-icon-button class="example-icon" aria-label="Home icon" [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </button>
  
  <button mat-icon-button class="example-icon" aria-label="Person icon" [routerLink]="['/Create']">
    <mat-icon>person_add</mat-icon>
  </button>
  
  <button mat-icon-button class="example-icon" aria-label="Login icon" [routerLink]="['/Home']">
    <mat-icon>login</mat-icon>
  </button>

  <button mat-icon-button class="example-icon" aria-label="Edit Account" [routerLink]="['/Account']" *ngIf="isLoginMode">
    <mat-icon>manage_accounts</mat-icon>
  </button>

  <router-outlet></router-outlet>
</mat-toolbar>


<div>
  <mat-sidenav-container>
    <mat-sidenav #side closed >
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/Todos']" *ngIf="isLoginMode">Add Todo</a>
        <a mat-list-item [routerLink]="['/View']" *ngIf="isLoginMode">View Todos</a>
        <a mat-list-item [routerLink]="['/View']" *ngIf="!isLoginMode">View Todos - Public</a>
        <a mat-list-item *ngIf="!isLoginMode" [routerLink]="['/Home']">Please Login</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 99vh;"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>




