<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input  type= password matInput [formControl]="passwordFormControl" placeholder="Password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input  type= password matInput [formControl]="nameFormControl" placeholder="Password">
            </mat-form-field>
          </p>

          <button (click)="RegisterUser()" mat-stroked-button color="accent">Create Account</button>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

