<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create Todo Item</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Todo Title</mat-label>
              <input [formControl]="title"  matInput placeholder="Todo">
            </mat-form-field>
          </p>
          <mat-checkbox [formControl]="publicAccess">Completed</mat-checkbox>
          <br><br>
  
          <button (click)="CreateTodos()" mat-stroked-button color="accent">Create Todo</button>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
