mat-toolbar {
    background-color: black;
    color: rgb(45, 188, 76);
}

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: black;
    color: rgb(45, 188, 76);
}